USE [master]
GO
/****** Object:  Database [AliBabaDB]    Script Date: 3.02.2022 15:58:23 ******/
CREATE DATABASE [AliBabaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AliBabaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AliBabaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AliBabaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AliBabaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AliBabaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AliBabaDB]
GO
/****** Object:  Table [dbo].[ANIMALS]    Script Date: 3.02.2022 15:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANIMALS](
	[AnimalsID] [int] IDENTITY(1,1) NOT NULL,
	[AnimalsName] [nvarchar](max) NOT NULL,
	[AnimalsQuantity] [int] NOT NULL,
	[AnimalsIsHaveMilk] [tinyint] NOT NULL,
	[AnimalsMilkQuantity] [int] NULL,
	[FeedsID] [int] NOT NULL,
	[AnimalsDailyFeed] [int] NOT NULL,
	[AnimalsVet] [datetime] NOT NULL,
 CONSTRAINT [PK_ANIMALS] PRIMARY KEY CLUSTERED 
(
	[AnimalsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDS]    Script Date: 3.02.2022 15:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDS](
	[FeedsID] [int] IDENTITY(1,1) NOT NULL,
	[FeedsName] [varchar](max) NOT NULL,
	[FeedsQuantity] [int] NOT NULL,
 CONSTRAINT [PK_FEEDS] PRIMARY KEY CLUSTERED 
(
	[FeedsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 3.02.2022 15:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UsersID] [int] IDENTITY(1,1) NOT NULL,
	[UsersName] [nvarchar](max) NOT NULL,
	[UsersEmail] [nvarchar](max) NOT NULL,
	[UsersPassword] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[UsersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ANIMALS] ON 

INSERT [dbo].[ANIMALS] ([AnimalsID], [AnimalsName], [AnimalsQuantity], [AnimalsIsHaveMilk], [AnimalsMilkQuantity], [FeedsID], [AnimalsDailyFeed], [AnimalsVet]) VALUES (1, N'İNEK', 60, 1, 12, 1, 8, CAST(N'2022-10-26T00:00:00.000' AS DateTime))
INSERT [dbo].[ANIMALS] ([AnimalsID], [AnimalsName], [AnimalsQuantity], [AnimalsIsHaveMilk], [AnimalsMilkQuantity], [FeedsID], [AnimalsDailyFeed], [AnimalsVet]) VALUES (2, N'KEÇİ', 120, 1, 5, 1, 4, CAST(N'2022-11-25T00:00:00.000' AS DateTime))
INSERT [dbo].[ANIMALS] ([AnimalsID], [AnimalsName], [AnimalsQuantity], [AnimalsIsHaveMilk], [AnimalsMilkQuantity], [FeedsID], [AnimalsDailyFeed], [AnimalsVet]) VALUES (3, N'KOYUN', 212, 1, 5, 1, 3, CAST(N'2022-07-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ANIMALS] OFF
GO
SET IDENTITY_INSERT [dbo].[FEEDS] ON 

INSERT [dbo].[FEEDS] ([FeedsID], [FeedsName], [FeedsQuantity]) VALUES (1, N'SAMAN', 25000)
INSERT [dbo].[FEEDS] ([FeedsID], [FeedsName], [FeedsQuantity]) VALUES (2, N'KEDİ MAMASI', 200)
INSERT [dbo].[FEEDS] ([FeedsID], [FeedsName], [FeedsQuantity]) VALUES (3, N'KÖPEK MAMASI', 200)
SET IDENTITY_INSERT [dbo].[FEEDS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UsersID], [UsersName], [UsersEmail], [UsersPassword]) VALUES (1, N'admin', N'admin@alibaba.com', N'alibaba123456')
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[ANIMALS] ADD  CONSTRAINT [DF_ANIMALS_AnimalsVet]  DEFAULT ('2022.10.10') FOR [AnimalsVet]
GO
USE [master]
GO
